<div class="header">
  <a class="logo" src="./../../../assets/icon/logo.png" alt="logo"> </a>
    <button class="search-button">
    <button class="button-text">
      <div class="text-wrapper">search</div>
    </button>
  </button>
  <div class="search-field">
    <div class="input-field-text">
      <p class="serch-field__input">What are you want to find out?</p>
    </div>
  </div>
  <div class="search-settings"><div class="vector"></div></div>
  <div>
    <div class="login"></div>
    <div class="text-wrapper-2">Your Name</div>
  </div>
</div>
