<div class="container max-w-[1200px] mx-auto flex pt-10">
  <button type="button"
    class="w-[32px] h-[32px] rounded-l-md border border-transparent bg-blue-500 text-white hover:bg-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all shadow-[-2px_2px_4px_rgb(47,128,237,0.25)]">
    <svg-icon src="assets/icons/back.svg"></svg-icon>
  </button>
  <img
    class="w-[729px] h-[461px] rounded-bl-[5px] object-cover dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] drop-shadow-[5px_10px_10px_rgba(47,128,237,0.25)]"
    src="assets/images/video.jpg" alt="Image Description">
  <div
    class="flex flex-nowrap flex-col border-b-[5px] p-8 border-blue-500 rounded-r-[5px] shadow-[5px_5px_20px_0px_rgba(51,51,51,0.25)]">
    <div class="flex flex-wrap items-start flex-col h-full">
      <div class="flex flex-nowrap justify-between w-full">
        <h3 class="text-2xl font-bold m-0 text-black dark:text-white">
          Kuji Podcast #20
        </h3>
        <span class="text-xs self-center text-tahiti-descText">
          Thursday, May 20, 2019
        </span>
      </div>
      <span class="text-sm mt-9 text-black">Description:</span>
      <p class="mt-1 text-xs text-tahiti-descText dark:text-gray-400">
        Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом Сабуровым обсуждают окончание 2018
        года: бой Хабиба с МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и
        подарки для близких.
      </p>
    </div>
    <div class="flex flex-nowrap self-center items-center gap-4">
      <div class="flex flex-nowrap gap-1">
        <svg-icon src="assets/icons/viewed.svg"></svg-icon>
        <span class="text-xs">1000</span>
      </div>
      <div class="flex flex-nowrap gap-1">
        <svg-icon src="assets/icons/liked.svg"></svg-icon>
        <span class="text-xs">680</span>
      </div>
      <div class="flex flex-nowrap gap-1">
        <svg-icon src="assets/icons/dislike.svg"></svg-icon>
        <span class="text-xs">320</span>
      </div>
      <div class="flex flex-nowrap gap-1">
        <svg-icon src="assets/icons/comments.svg"></svg-icon>
        <span class="text-xs">250</span>
      </div>
    </div>

  </div>
</div>